.button{
    margin-left: 80%;
    
    
      
    
   
  }
  
  
    
   
  #filterInput{
      margin: 30px;
      
      
      
  }
  .button-space{
      margin: 5px;
      font-size: small;
  }
  