

#body-contact{
    background: url("../img/mt.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    
      
}

section .container{
    position: relative;
    min-width: 1100px;
    height: 550px;
    display: flex;
    z-index: 1000;
    
    
    
}

section .container .contactinfo{
    position: absolute;
    top: 110px;
    width: 350px;
    min-height: calc(100% - 30%);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    
    



} 

section .container .contactinfo h2{
    color: #17a2b8;
    font-size: 24px;
    font-weight: bold;
    
}


section .container .contactinfo .info{
    position: relative;
    margin: 20px 0;
}

section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

section .container .contactinfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}

section .container .contactinfo .info li span:nth-child(1) .fa{
    max-width: 100px;
    filter: invert(1);
    opacity: 0.5;
  

}

section .container .contactinfo .info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
   
}


section .container .contactinfo .info li:hover span:nth-child(1) .fa,
section .container .contactinfo .info li:hover span:nth-child(2){
    opacity: 1;
    
}


section .container .contactinfo .sci{
    position: relative;
    display: flex;
    margin: 40px 0 0 60px;
  
}

section .container .contactinfo .sci li{
    list-style: none;
    margin-right: 20px;
}

section .container .contactinfo .sci li a{
    text-decoration: none;
    
}

section .container .contactinfo .sci li a .fa{
    color: #fff;
    opacity: 0.5;
    font-size: larger;
}

section .container .contactinfo .sci li:hover a .fa{
    opacity: 1;
}

section .container .contactForm{
    position: absolute;
    padding: 40px 600px;
    background: #fff;
    width: calc(100% - 150%);
    margin-top: 50px;
    
    margin-left: 150px;
    padding-left: 250px;
    

  
    
}

section .container .contactForm h2{
    color: #0f3959;
    font-size: 20px;
    font-weight: bold;
    
    
}

section .container .contactForm .formBox{
    position: relative;
    margin: 10px;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

section .container .contactForm .formBox .inputBox{
    position: relative;
    
    
    
}

section .container .contactForm .formBox .inputBox.w50{
    width: 50%;
    

    
}

section .container .contactForm .formBox .inputBox.w100{
    width: 100%;
   
    
    
}

section .container .contactForm .formBox .inputBox input{
   
    resize: none;
    display: flex;
    font-size: 15px;
    font-weight: 200;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
    padding: 5px;
    
}

section .container .contactForm .formBox .inputBox  textarea{
    min-width: 350px;
    padding: 5px;
}

section .container .contactForm .formBox .inputBox label{
    position: relative;
    left: 0;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 200;
    color: #333;
    transition: 0.5s;
    pointer-events: none;

}

section .container .contactForm .formBox .inputBox input:focus ~ label,
section .container .contactForm .formBox .inputBox textarea:focus ~ label,
section .container .contactForm .formBox .inputBox input:valid ~ label,
section .container .contactForm .formBox .inputBox textarea:valid ~ label{
    transform: translateY(-50px);
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 5px;
    color: #ff568c;
}


section .container .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 5px 25px 5px 25px;
    
    
}

section .container .contactForm .formBox .inputBox input[type="submit"]:hover{
    background-color: #17a2b8;
}