<div>
  <footer>
    <section class="about">
      <h2>About Us</h2>
      <p>
      <h1>Everest Esports</h1>
      It is Nepal's first Esports Organization <br>
      For more updates and news follow us on Twitter, Facebook and Instagram.
      </p>
    </section>
    <section class="address">
      <h2>Address</h2>
      <p>
        <span>Traffic chowk,Butwal-80891</span> 
        <span>9821552353</span> 
        <span>rams2571996@gmail.com</span>
      </p>
    </section>
    
    <section class="partners">
      <h2>Partners</h2>
      <p style="font-weight: bold;">We are thankful to receive sponsorship</p>

            <li><a href="#" class="spon">Mountain Dew</a></li>
            <li><a href="#" class="spon">Logitech</a></li>
            <li><a href="#" class="spon">Sony</a></li>
            <li><a href="#" class="spon">Asus</a></li>
    </section>
    <p class="copyright" style="text-align: center;">Copyright:2020</p>

  </footer>
 
</div>