<div class="images">

  
    <b-container class="image-1">
        <h1 style="color: chocolate; font-style: italic; font-weight: bold; text-align: left; margin: 40px;">Winning Moments</h1>

        <hr>

        <b-row>
          <b-col>
            <img alt="Vue logo" src="../assets/img/img1.jpeg" class="img-thumbnail img-fluid">
          </b-col>
          <b-col>
            <b-img thumbnail fluid src="../assets/img/cod.jpg" alt="Image 2"></b-img>
          </b-col>
          <b-col>
            <b-img  thumbnail fluid src="../assets/img/eve.jpg" alt="Image 3"></b-img>
          </b-col>
        </b-row>


        <b-row style="margin-top: 30px;">
            <b-col>
              <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=54" alt="Image 1"></b-img>
            </b-col>
            <b-col>
              <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=58" alt="Image 2"></b-img>
            </b-col>
            <b-col>
              <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=59" alt="Image 3"></b-img>
            </b-col>
        </b-row>

        <b-pagination
        
        :total-rows="rows"
        :per-page="perPage"
        first-text="⏮"
        prev-text="⏪"
        next-text="⏩"
        last-text="⏭"
        class="mt-4"
      ></b-pagination>
  


    </b-container>


<hr>

    <b-container class="image-2">
        <h1 style="color: chocolate; font-style: italic; font-weight: bold; text-align: left; margin: 40px;">Funny Moments</h1>

        <hr>

        <b-row>
          <b-col>
            <b-img thumbnail fluid src="../assets/img/pubg.jpg" alt="Image 1"></b-img>
          </b-col>
          <b-col>
            <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=58" alt="Image 2"></b-img>
          </b-col>
          <b-col>
            <b-img  thumbnail fluid src="https://picsum.photos/250/250/?image=59" alt="Image 3"></b-img>
          </b-col>
        </b-row>


        <b-row style="margin-top: 30px;">
            <b-col>
              <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=54" alt="Image 1"></b-img>
            </b-col>
            <b-col>
              <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=58" alt="Image 2"></b-img>
            </b-col>
            <b-col>
              <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=59" alt="Image 3"></b-img>
            </b-col>
        </b-row>

        <b-pagination
        
        :total-rows="rows"
        :per-page="perPage"
        first-text="⏮"
        prev-text="⏪"
        next-text="⏩"
        last-text="⏭"
        class="mt-4"
      ></b-pagination>
  


    </b-container>
</div>