<div>
    <div class="full-bodies">
        <div class="player-bodies">
            <div>
                <div class="btt">
                    <b-button v-b-toggle.my-collapse>PUBG MOBILE [6]</b-button>

                </div>

                <b-collapse id="my-collapse">
                    <div class="carder">
                        <b-card>
                            <h5>Ramesh Giri</h5>
                            <h3>Rj</h3>

                            <ul class="socio">
                                <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>
                        </b-card>
                    </div>
                </b-collapse>



                <b-collapse id="my-collapse">
                    <div class="carder">
                        <b-card>
                            <h5>Ramesh Giri</h5>
                            <h3>Rj</h3>

                            <ul class="socio">
                                <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>

                        </b-card>
                    </div>

                </b-collapse>



                <b-collapse id="my-collapse">
                    <div class="carder">
                        <b-card>
                            <h5>Ramesh Giri</h5>
                            <h3>Rj</h3>

                            <ul class="socio">
                                <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>

                        </b-card>
                    </div>

                </b-collapse>




                <b-collapse id="my-collapse">
                    <div class="carder">
                        <b-card>
                            <h5>Ramesh Giri</h5>
                            <h3>Rj</h3>

                            <ul class="socio">
                                <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>

                        </b-card>
                    </div>

                </b-collapse>





                <b-collapse id="my-collapse">
                    <div class="carder">
                        <b-card>
                            <h5>Ramesh Giri</h5>
                            <h3>Rj</h3>

                            <ul class="socio">
                                <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>

                        </b-card>
                    </div>

                </b-collapse>


                <b-collapse id="my-collapse">
                    <div class="carder">
                        <b-card>
                            <h5>Ramesh Giri</h5>
                            <h3>Rj</h3>


                            <ul class="socio">
                                <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>

                        </b-card>
                    </div>

                </b-collapse>

            </div>



            <div>
                <div class="btt">
                    <b-button v-b-toggle.my-collapse-1>CS:GO [6]</b-button>

                </div>

                <b-collapse id="my-collapse-1">
                    <div class="carder">
                        <b-card>
                            <h5>Ramesh Giri</h5>
                            <h3>Rj</h3>

                            <ul class="socio">
                                <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>

                        </b-card>
                    </div>
                </b-collapse>


                <b-collapse id="my-collapse-1">
                    <div class="carder">
                        <b-card>
                            <h5>Ramesh Giri</h5>
                            <h3>Rj</h3>

                            <ul class="socio">
                                <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>

                        </b-card>
                    </div>
                </b-collapse>
            </div>








            <div>
                <div class="btt">
                    <b-button v-b-toggle.my-collapse-2>DOTA-2 [6]</b-button>

                </div>

                <b-collapse id="my-collapse-2">
                    <div class="carder">
                        <b-card>
                            <h5>Ramesh Giri</h5>
                            <h3>Rj</h3>

                            <ul class="socio">
                                <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>

                        </b-card>
                    </div>
                </b-collapse>


                <b-collapse id="my-collapse-2">
                    <div class="carder">
                        <b-card>
                            <h5>Ramesh Giri</h5>
                            <h3>Rj</h3>

                            <ul class="socio">
                                <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>

                        </b-card>
                    </div>
                </b-collapse>
            </div>
        </div>
    </div>
</div>