<div>

    <body class="teams">


        <div class="boxes">
            <div class="imgBx">
                <img src="../assets/img/RJ.jpg">
            </div>
            <div class="contents">
                <h3>Ramesh Giri<br><span>Co-Founder</span></h3>
            </div>
        </div>
        <div class="boxes">
            <div class="imgBx">
                <img src="../assets/img/PT.jpg">
            </div>
            <div class="contents">
                <h3>Pramish Thapa<br><span>Co-Founder</span></h3>
            </div>
        </div>
        <div class="boxes">
            <div class="imgBx">
                <img src="../assets/img/SC.jpg">
            </div>
            <div class="contents">
                <h3>Saugat Chhetri<br><span>Co-Founder</span></h3>
            </div>
        </div>
    </body>
</div>